.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  padding: 0 20px;
  z-index: 2000;
}

.logo a {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  font-weight: 900;
}

.pc-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 50px;

  @media (max-width: 800px) {
    display: none;
  }
}

.pc-menu li {
  list-style: none;
  padding: 0 20px;
  font-size: 1.3rem;
  font-weight: 900;
  color: black;
  cursor: pointer;
  z-index: 6000;
}

#menu-toggle {
  display: none;
}

.menu-button {
  z-index: 6000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 100%;
  cursor: pointer;
  position: relative;
  right: 20px;
}

.menu-button .line {
  display: block;
  width: 100%;
  height: 3.5px;
  border-radius: 10px;
  background-color: black;
}

.menu-button .line1 {
  transform-origin: 0% 0%;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.menu-button .line2 {
  transition: transform 0.2s ease-in-out;
}

.menu-button .line3 {
  transform-origin: 0% 100%;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked + .menu-button .line1 {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button .line2 {
  transform: scaleY(0);
}

#menu-toggle:checked + .menu-button .line3 {
  transform: rotate(-45deg);
}

.navbar__menu--mobile {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: none;
}

.navbar__menu--mobile.open {
  transform: translateY(0);
}

@media (max-width: 800px) {
  .menu-button {
    display: flex;
  }

  .navbar__menu--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
    height: 100vh;

    @media (max-width: 700px) {
      width: 25vw;
    }
    @media (max-width: 600px) {
      width: 30vw;
    }
    @media (max-width: 400px) {
      width: 40vw;
    }
  }

  .navbar__menu--mobile ul {
    background-color: rgb(236, 246, 249);
    margin: 0;
    padding: 0;
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .navbar__menu--mobile li {
    opacity: 1;
    color: whiee;
    font-size: 20px;
    font-weight: 900;
    animation: none;
    list-style: none;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
  }
}
